///*------------------------------------*\
//    #VARIABLES
//\*------------------------------------*/

//font-family
$roboto: "Roboto", sans-serif;

//font-weight
$light: 300;
$regular: 400;
$medium: 500;
$sbold: 700;
$bold: 800;

//colors
$brand-blue: #0099ab;
$light-gray: #b4b4b4;
$white: #ffffff;
$pink: #f73469;
$purple: #4530ba;
$inactive: #afafaf;
$main-black: #333333;
$main-gray: #2a383f;
$main-gray-2: #66666c;
