///*------------------------------------*\
//    #BASE
//\*------------------------------------*/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input, button, h2, p {
  font-family: $roboto;
}

h2, p {
  font-weight: $medium;
}

input {
  width: 40vw;
  padding: 5px 20px;
  border: none;
  outline: none;
  font-size: 1.25rem;
  border-bottom: 2px solid $grey;
  transition: all 300ms;

  &:active, &:hover, &:focus {
    border-color: $black;
  }

  @include media-query('md-mob') {
    width: 90vw;
  }
}

button {
  margin: 20px 0;
  padding: 15px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: $black;
  color: $white;
  font-weight: $sbold;
  font-size: .9rem;
  transition: all 300ms;
  box-shadow: 10px 21px 20px -12px rgba(0,0,0,0.57);

  &:hover {
    transform: scale(.9);
    box-shadow: none;
  }
}

h1 {
  display: none;
}

h2 {
  font-size: 5rem;
  padding-bottom: 1rem;

  @include media-query('md-mob') {
    font-size: 3rem;
  }
}

p {
  position: absolute;
  top: 100%;
  margin-top: 1.25rem;
}
