footer {
  width: 100%;
  padding: 0 4vw 1rem;
  text-align: right;

  p {
    color: $grey;
    font-size: .8rem;
  }
  
  a {
    color: $grey;
    font-family: $roboto;
    transition: 200ms;
  
    &:hover {
      color: $black;
    }
  }
}