header {
  width: 100%;
  position: absolute;
  padding: 1rem 4vw 0;
  text-align: right;

  a {
    padding-left: 1rem;
    color: $black;
    font-family: $roboto;
    transition: 200ms;

    &:hover {
      color: $grey;
    }
  }
}