///*------------------------------------*\
//    #VARIABLES
//\*------------------------------------*/

//font-family
$roboto: "Roboto", sans-serif;

//font-weight
$light: 300;
$regular: 400;
$medium: 500;
$sbold: 700;
$bold: 800;

//colors
$black: #000;
$white: #fff;
$grey: #b4b4b4;
